.display {
  // font-size: 80px;
  font-size: clamp(1.875rem, -2.0313rem + 12.5vw, 5rem);
  // font-size: clamp(1.5625rem, 1.0714rem + 2.4554vw, 5rem);
  line-height: 1.1;
  font-weight: 600;
}
h1 {
  // font-size: 56px;
  font-size: clamp(1.5625rem, -0.8594rem + 7.75vw, 3.5rem);
  font-weight: 600;
  line-height: 1.1;
}
h2 {
  // font-size: 40px;
  line-height: 1.1;
  font-size: clamp(1.875rem, 1.6819rem + 1.0299vw, 2.5rem);
  font-weight: 600;
}
h3 {
  // font-size: 35px;
  font-size: clamp(1.75rem, 1.6148rem + 0.7209vw, 2.1875rem);
  font-weight: 600;
  line-height: 1.1;
}
h4 {
  // font-size: 30px;
  line-height: 1.1;
  font-size: clamp(1.4375rem, 1.3023rem + 0.7209vw, 1.875rem);
  font-weight: 500;
}
.p1 {
  // font-size: 22px;
  // font-size: clamp(0.9375rem, 0.8023rem + 0.7209vw, 1.375rem);
  font-size: clamp(0.8125rem, 0.7321rem + 0.4018vw, 1.375rem);
  font-weight: 500;
}
.p2 {
  // font-size: 15px;
  font-size: clamp(0.8125rem, 0.7739rem + 0.206vw, 0.9375rem);
  font-weight: 500;
}
.t1 {
  // font-size: 20px;
  font-size: clamp(0.9375rem, 0.841rem + 0.5149vw, 1.25rem);
  font-weight: 600;
}
.t2 {
  // font-size: 20px;
  font-size: clamp(0.9375rem, 0.841rem + 0.5149vw, 1.25rem);
  font-weight: 500;
}
.subtext {
  font-size: 14px;
  font-weight: 400;
  color: #535353;
}



p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
