@import "./variables";
@media screen and (max-width: 445px) {
  .pagination {
    width: 100%;
    padding: 18px 7px;
  }
}
@media screen and (max-width: 600px) {
  .slider {
    .slide {
      .img {
        width: 275px;
        height: 240px;
      }
    }
  }
}
@media screen and (max-width: 1110px) {
  //reusables
  .gap {
    gap: 90px;
  }
  .logo {
    font-size: 21.8px;
  }
  .navbar {
    .header {
      justify-content: center !important;
      height: 63px !important;
      .hamburger {
        display: block !important;
        font-size: 30px;
        margin-right: auto;
        position: absolute;
        left: 10px;
      }
    }
  }
  .mobile-hide {
    display: none !important;
  }
  .mobile-show {
    display: flex !important;
  }

  .features {
    .swiper {
      height: 280px;
    }

    .t2 {
      font-size: 15px;
    }
    hr {
      margin-block: 7px !important;
    }
    h4 {
      font-size: 20px;
      line-height: normal;
    }

    .swiper-button-next {
      top: 260px;
      right: 10px;
    }
    // .frame {
    //   width: 40px !important;
    //   height: 36px !important;
    //   .icon {
    //     font-size: 29px !important;
    //     padding: 6px !important;
    //   }
    // }
  }
  .display {
    font-size: 30px !important;
  }

  h1 {
    font-size: 25px;
  }
  .p1 {
    font-size: 10px;
  }
  .t2 {
    font-size: 10px;
  }
  .t1 {
    font-size: 15px;
  }
  .mpi {
    padding-inline: 33px;
  }
  .mpb {
    padding-bottom: 16px;
  }
  .container {
    overflow: hidden;
  }
  //pages

  .home {
    section {
      .feature-cards {
        gap: 20px;
      }
      .popular-ads {
        .top {
          .header {
            h1 {
              margin-bottom: 21px;
            }
            .sub-title {
              font-size: 10px;
              margin-bottom: 21px;
            }
          }
        }
      }
      .invest-bg {
        text-align: center;
      }
    }
  }
  .listings {
    padding-inline: 11px;
    .top {
      .land-count {
        font-size: 13px;
      }
      .p2 {
        font-size: 10px;
      }
    }
    .filter-listing-row {
      gap: 20px;
      .filter {
        .filter-inner {
          .t2 {
            font-size: 14px;
          }
          button {
            font-size: 12px;
          }
          input {
            height: 36px;
            text-align: end;
            padding-inline: 12px;
          }
        }
      }
      .listing {
        .lands {
          .land {
            height: 66px !important;
            .img-wrapper {
              .land-img {
                width: 91px !important;
              }
            }
            .text {
              font-size: 8px !important;
              .p2 {
                font-size: 8px;
              }
              .title {
                margin-inline: 9px !important;
              }
              .details {
                .param {
                  width: 47px !important;
                }
              }
            }
            .buttons {
              font-size: 10px;
              margin: 0 10px !important;
              min-width: 81px;
              max-width: 121px;

              button {
                padding: 5px 0 !important;
              }
            }
          }
        }
      }
    }
  }
  .hero {
    .landing-image {
      height: 150vh !important;
      margin-top: -300px !important;
    }
    .landing-page {
      gap: 80px;
      justify-content: center !important;
      .landing-text {
        margin-top: 175px !important;
        text-align: center;
      }
      .form-bg {
        backdrop-filter: none;

        background-color: #42424280;
        button {
          padding-inline: 0;
        }
      }
    }
  }

  .invest {
    .titles {
      .p1,
      h4 {
        margin-bottom: 70px;
      }
    }
    .number {
      font-size: 7rem;
    }
    .firststep {
      .number {
        top: -25px;
      }
      .zoom {
        gap: 60px;
        .p1 {
          width: 100%;
        }
        .btns {
          width: 100%;
          flex-direction: row;
          button {
            font-size: 12px;
            padding: 11px 15px;
          }
        }
      }
    }
    .secondstep {
      .number {
        font-size: 20rem;
        top: 0px;
      }
    }
    .thirdstep {
      gap: 10px;
      justify-content: space-evenly;
      .sector {
        // max-width: 111px;
        margin-inline: auto;
        .p1 {
          margin-block: 12px;
          // width: 230%;
        }
      }
      .sector2 {
        height: fit-content;
        width: 65%;
      }
      .sector3 {
        height: fit-content;
        .three {
          font-size: 12rem;
        }
      }
    }
    .decks {
      width: 80%;
      .deck {
        margin-block: 20px;
        width: 100%;
        .subtitle {
          margin-top: 20px;
        }
        .cards {
          .card {
          }
        }
      }
    }
  }
  .about {
    .bizkimiz {
      .p1 {
        margin-bottom: 0px;
      }
      .content {
        .cols {
          .column {
            width: 100%;
          }
        }
      }
    }
    .we-are-here {
      .content {
        padding: 33px;
        .title {
          font-size: 25px;
          width: 100%;
        }
        .text {
          .half {
            width: 100%;
            text-align: center;
            .p1 {
              margin-top: 176px;
              color: #424242;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .form-inner {
    .form {
      .inputWrapper {
        position: unset;
      }
      .error {
        display: none;
      }
    }
  }

  .faq-wrapper {
    .faq {
      .t2,
      .p2 {
        font-size: 10px;
      }
      .question {
        .t2 {
          span {
            font-size: 15px;
          }
        }
      }
    }
  }

  .faq {
    .up {
      right: 10px;
    }
    .titles {
      .nav {
        gap: 10px;
        a {
          padding: 15px 7px;
        }
      }
    }
  }

  .footer-bg {
    footer {
      gap: 20px;
      .text {
        width: 100% !important;
      }
      .links {
        width: 100% !important;
      }
    }
  }
  //compnonet
  .tapu-steps {
    .steps-img-container {
      border-radius: 0 !important;
      padding-block: 12px;
      .images {
        .img {
          width: 50%;
        }
      }
    }
    .steps {
      justify-content: center;
      .step {
        width: 100%;
      }
    }
  }
  .footer-fillform {
    margin-top: 90px;
  }
  .graph1 {
    .footer {
      justify-content: center;
      gap: 40px;
    }
  }
  .padded-form {
    width: 100% !important;
  }
  .slider {
    .swiper-slide {
      // width: 90% !important;
    }
    .swiper-wrapper {
      padding-bottom: 0;
    }
    .slide {
      .p1 {
        width: 300px;
      }
      .img {
        width: 300px;
        height: 165px;
      }
    }
  }
}
